<div class="flex flex-col lg:flex-row lg:items-end items-start">
  <div class="w-auto lg:w-1/4">
    <h2 class="text-2xl text-left mt-6 text-primary">Alex Williams</h2>
    <div class="text-secondary mb-4 text-left">Owner | Development Leader</div>
    <img class="rounded-2xl my-4" src="../static/images/alex-williams.png" />
  </div>
  <div class="pl-4 w-auto lg:w-3/4 text-primary mt-8">
    <p class="mb-6">
      Alex has a bachelors of science in <strong> accounting </strong>from
      Southern Illinois Univeristy Edwardsville <small>(SIUE)</small>. He
      started is career journey in the insurance industry. He spent five years
      owning his own small insurance brokerage AW Insurance in Edwardsville IL
      <small>(sold in 2016)</small>. Durring this time, he realized he had a
      passion for both small business and web development.
    </p>
    <p class="mb-6">
      Alex has over five years of experience building websites and applications
      in several different programming languages
      <small> (React, Express, Django, and PHP / Wordpress) </small>.
    </p>
    <p class="mb-6">
      He is now a Senior UX Developer for Edward Jones. In his free time Alex
      enjoys playing with his three kids
      <small>(Harrison, Elliot, and Margo) </small> and watching shows with his
      wife Abby.
    </p>
  </div>
</div>
