<h2
  style="line-height: 1.2"
  class="font-quicksand text-5xl lg:text-3xl mb-10 mt-0 lg:mb-0 text-primary"
>
  Motivation for <span class="text-secondary font-thin"> Mound City</span>
</h2>

<div class="flex flex-col-reverse lg:flex-row my-4">
  <div class="w-full text-primary">
    <p>{{content.p1}}</p>
    <p class="mt-4">{{content.p2}}</p>
  </div>
</div>
