<div class="flex flex-col lg:flex-row lg:items-end items-start mb-6 lg:mb-0">
  <div class="w-auto lg:w-1/4">
    <h2 class="text-2xl mt-6 text-primary">Matt Lamonica</h2>
    <div class="text-secondary mb-4">Owner | Business Leader</div>
    <img
      class="rounded-2xl mt-4"
      src="../../../static/images/matt-lamonica.jpeg"
    />
  </div>
  <div class="pl-4 w-auto lg:w-3/4 text-primary mt-8">
    <p class="">
      Matt has bachelor’s in
      <strong>business and management of information systems</strong> from
      Southen Illinois University Edwardsville. <small>(SIUE)</small>
    </p>
    <br />
    <p>
      He has several years of experience in IT
      <small>(currently working for World Wide Technology)</small>. Matt's past
      responsibilites include database application support, infrastructure
      planning, and agile project management.
    </p>
    <br />
    <p>
      He is a St. Louis native who sticks around for the toasted rav’s and an
      anticipation for Blues hockey to return! When Matt's not keeping busy with
      work, you can find him reading Tolkien literature or watching The Office
      on repeat.
    </p>
  </div>
</div>
<hr />
