{
  "overrides": [
    {
    "files": ["*.njk"],
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ["*.js","*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}