<fieldset class="mt-8">
    <legend class="text-2xl  ml-8 text-primary mt-6 mb-8">Who Are You?</legend>
    <div class="flex flex-col lg:flex-row ml-8">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="flex flex-col w-1/2">
        <label class=" text-sm  text-gray-600" for="firstName">First Name</label>
        <input name="firstName" style="width:250px" class="pt-2 pl-2 pb-2 mt-2 border-b border-gray-600" id="firstName" type="text" value='{{user_firstName}}'>
    </div>
    <div class="flex flex-col w-1/2">
        <label class=" text-sm  text-gray-600" for="lastName">Last Name</label>
        <input name="lastName" style="width:250px" class="pt-2 pl-2 pb-2 mt-2 border-b border-gray-600" id="lastName" type="text" value='{{user_lastName}}'/>
    </div>
    </div>
    <div class="flex flex-col lg:flex-row ml-8 mt-8">
    <div class="flex flex-col w-1/2">
        <label class=" text-sm  text-gray-600" for="email">Email</label>
        <input name="email" style="width:250px" class="pt-2 pl-2 pb-2 mt-2 border-b border-gray-600" id="email" type="text" value='{{user_email}}'/>
    </div>
    <div class="flex flex-col w-1/2">
        <label class=" text-sm  text-gray-600" for="phone">Phone</label>
        <input name="phone" style="width:250px" class="pt-2 pl-2 pb-2 mt-2 border-b border-gray-600" id="phone" type="text" value='{{user_phone}}'/>
    </div>
    </div>
</fieldset>
