<fieldset class="mt-8">
    {% if errors.length > 0 %}
    <div id="contactErrorList" class="flex ml-8  bg-red-600 text-red-900 border-l-8 p-1 border border-red-900  border-solid justify-between  items-center rounded mb-8 bg-opacity-50">
        <div class="flex items-start">
        <svg class="w-6 mr-4 text-red-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <ul class=" flex-col">
            {% for error in errors%}
            <li class="mb-1">{{error}}</li>
            {% endfor %}
        </ul>
        </div>
        <div>
            <button id="closeContactError" type="button" >
                <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>

    {% endif %}
  

    <legend class="text-2xl  ml-8 text-primary mt-6 mb-8">Who Are You?</legend>
    <div class="flex flex-col lg:flex-row ml-8">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="flex flex-col w-1/2">
        <label class=" text-sm  text-gray-600" for="firstName">First Name</label>
        <input name="firstName" style="width:250px" class="pt-2 pl-2 pb-2 mt-2 border-b border-gray-600" id="firstName" type="text" value='{{user_firstName}}'>
        
    </div>
    <div class="flex flex-col w-1/2">
        <label class=" text-sm  text-gray-600" for="lastName">Last Name</label>
        <input name="lastName" style="width:250px" class="pt-2 pl-2 pb-2 mt-2 border-b border-gray-600" id="lastName" type="text" value='{{user_lastName}}'/>
    </div>
    </div>
    <div class="flex flex-col lg:flex-row ml-8 mt-8">
    <div class="flex flex-col w-1/2">
        <label class=" text-sm  text-gray-600" for="email">Email</label>
        <input name="email" style="width:250px" class="pt-2 pl-2 pb-2 mt-2 border-b border-gray-600" id="email" type="text" value='{{user_email}}'/>
    </div>
    <div class="flex flex-col w-1/2">
        <label class=" text-sm  text-gray-600" for="phone">Phone</label>
        <input name="phone" style="width:250px" class="pt-2 pl-2 pb-2 mt-2 border-b border-gray-600" id="phone" type="text" value='{{user_phone}}'/>
    </div>
    </div>
</fieldset>
