<form action="/contact" method="POST">

    {% include "./contact_form_who.njk" %}
    {% include "./contact_form_how.njk" %}
    <button type="submit" style="right:10%; bottom: 10%" class="mr-4 relative lg:absolute mx-auto lg:mx-0 w-full lg:w-auto flex py-4 lg:py-4 px-10 mb-4 text-center lg:text-left rounded border bg-primaryBlue text-white shadow-sm"> 
        <svg class="w-6 h-6 ml-auto lg:ml-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
        <span class="ml-2 mr-auto lg:mr-0">Submit</span> 
    </button>
</form>
