{% macro header(scripts, title, description="", links) %}
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="author" content="Mound City">
  <meta name="description" content={{description}}>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vissense/0.10.0/vissense.min.js"  crossorigin="anonymous"></script>
  {% for script in scripts  %}
      <script src={{script}}></script>
  {% endfor %}
  {% for link in links  %}
        <link href={{link}} rel="stylesheet">
  {% endfor %}
</head>
{% endmacro %}
