{% macro header(scripts, title, description="", links) %}
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="author" content="Mound City">
  <meta name="description" content={{description}}>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% for script in scripts  %}
      <script src={{script}}></script>
  {% endfor %}
  {% for link in links  %}
        <link href={{link}} rel="stylesheet">
  {% endfor %}
</head>
{% endmacro %}
