{% from "../macros/navLinks.njk" import navLinks %}

{% block nav %}
<div class=" bg-off w-screen pt-2 sm:pl-2 pr-2 ">
    <nav class="flex justify-between sm:pt-4 items-center border-b border-gray-400 mx-auto container">

        <div class="flex">
            
            <svg class="logoSize mt-3 ml-4 sm:mt-2" fill="none" style="max-height:50px" viewBox="0 0 30 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M27.5464 15.4128h-.514V1.7339C27.0324.778 26.1778 0 25.1274 0H2.8726C1.8222 0 .9676.7779.9676 1.734v13.6788h-.514c-.2505 0-.4536.1849-.4536.4129v.8807C0 17.4197.6375 18 1.4212 18h25.1576C27.3625 18 28 17.4197 28 16.7064v-.8807c0-.228-.2031-.4129-.4536-.4129zM1.8747 1.7339c0-.5008.4477-.9082.9979-.9082h22.2548c.5502 0 .9979.4074.9979.9082v13.6789H1.8747V1.7339zM27.093 16.7064c0 .258-.2306.4679-.5141.4679H1.4212c-.2835 0-.514-.2099-.514-.4679v-.4679h10.2217c-.0006.0092-.0015.0183-.0015.0276 0 .228.2031.4128.4536.4128h4.838c.2505 0 .4536-.1848.4536-.4128 0-.0093-.0009-.0184-.0015-.0276h10.2218v.4679z"
                    fill="#270A49" />
                <path
                    d="M24.5504 2H3.4496C3.2013 2 3 2.1744 3 2.3896v11.2208c0 .2152.2013.3896.4496.3896h21.1008c.2483 0 .4496-.1744.4496-.3896V2.3896C25 2.1744 24.7987 2 24.5504 2zm-.4496 11.2208H3.8992V2.7792h20.2016v10.4416z"
                    fill="#270A49" />
                <path d="M10.2369 5.6595l4.2631-1.79 4.2632 1.79v4.3462L14.5 11.9504l-4.2631-1.9447V5.6595z" fill="#270A49"
                    stroke="#270A49" />
                <path
                    d="M13.7023 7.611l-.957.339.957.339v.438l-1.479-.546v-.462l1.479-.546v.438zm1.0541-1.137h.507l-.99 2.826h-.507l.99-2.826zm2.0192 1.245v.462l-1.479.546v-.438l.957-.339-.957-.339v-.438l1.479.546z"
                    fill="#FFF" />
            </svg>
            <div class="flex flex-col ml-4 mt-1">
                <div class="text-xl font-bold text-primary">Mound City</div>
                <div class="text-xl text-primary leading-none">Web Devs</div>
            </div>
        </div>
        {% include "./hamburger.njk" %}
        {{ navLinks (
            [
                {
                    ref: "https://google.com",
                    text: "Developers"
                },
                {
                    ref: "/#",
                    text: "Contact"
                },
                {
                    ref: "/#",
                    text: "About"
                },
                {
                    ref: "/#",
                    text: "Blog"
                },
                {
                    ref: "/#",
                    text: "Home"
                }
            ]
            ,"618-267-9893")
        }}
        {# <ul class="hidden lg:flex">
            <li class="mr-8 text-primary text-base"><a href="/#">Join Us</a></li>
            <li class="mr-8 text-primary text-base"><a href="/#">Contact Us</a></li>
            <li class="mr-8 text-primary text-base"><a href="/#">Our Team</a></li>
            <li class="mr-8 text-primary text-base"><a href="/#">Services</a></li>
            <li class="mr-8 text-primary text-base"><a href="/#">Blog</a></li>
            <li class="text-primary text-base">618-267-9893</li>
        </ul> #}
    </nav>
</div>
{% endblock %}