{% from "./components/header.njk" import header %}

{# {% from "" import nav as navElm %} #}
<!doctype html>
<html class="no-js" lang="">
  {{ header(
    scripts=["../static/scripts/dist/bundle.js"],
    title="Mound City Development",
    description="Mound City Development is a software development company. We work with some of the very best software engineers. 
    Most of our engineers work with Mound City as a side hustle. This helps keep over head low and quality high.",
    links=["https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap",
    "https://fonts.googleapis.com/css2?family=Quicksand&display=swap"]
    )
  }}
  <body class="bg-off font-montserrat font-medium ">
    <main class="container mx-auto p-4">
      {% include "./components/nav.njk" %}
      {# <p class="text-xl">Hello world! This is HTML5 Boilerplate. {{ email }}</p> #}
      <section class="mt-12">
        <div class="flex flex-col items-center lg:items-center lg:flex-row">
        <div class="w-auto lg:w-1/2 mb-16">
          <h1 style="line-height: 1.2" class="font-quicksand text-4xl lg:text-6xl mb-10 lg:mb-0 text-primary">Web Development Experts </h1>
          <div class=" font-light mt-4 text-primary max-w-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur rerum velit et earum quaerat, corrupti magnam, dolore ea quis sapiente facere.
          </div>
        </div>
        {% include "./svg/homeCTA.njk" %}
        </div>
        <div class="mx-auto bg-white rounded p-8 lg:max-w-4xl mt-16 shadow-lg">
          <div>
            <span class="texl-xl text-secondary font-sembold">Elevator Pitch</span>
            <div class="mt-4 font-normal text-primary">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit molestiae optio laborum, eius fugiat esse. Odit fuga sint cum deleniti repellat, soluta voluptatum inventore! Quia voluptas et nostrum mollitia ut.
            </div>
            <div class="flex justify-center mt-8">
              {% include "./svg/shovel.njk" %}
              <button type="button" class="text-primary font-semibold">
                Dig Deeper
              </button
            </div>
          </div>
        </div>
      </section>
      
    </main>
  </body>
</html>