{% from "./components/header.njk" import header %}
<!doctype html>
<html class="no-js" lang="">
  {{ header(
    scripts=["../static/scripts/dist/home.js"],
    title="Mound City Development",
    description="Mound City Development is a software development company. We work with some of the very best software engineers. 
    Most of our engineers work with Mound City as a side hustle. This helps keep over head low and quality high.",
    links=["https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap",
    "https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"]
    )
  }}
  <body class="font-montserrat font-medium relative">
    <main id="mainContainer">
      {% include "./components/nav.njk" %}
      {% include "./sections/home_page/section_one.njk" %}
      <section class="pt-8 pb-16 bg-dark">
        <div class="container mx-auto p-4 lg:p-0 ">
              <h2 class="text-4xl text-white">Services Offered</h2>
              <div class=" max-w-2xl text-white mt-2 mb-8 font-light">
                  We work with very talented folks. Please reach out to us if you are looking for something else in the development world.
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class=" bg-off rounded relative shadow-lg p-8 flex flex-col">
                  <div class="text-2xl text-primary"> Web and Mobile Apps</div>
                  <img style="width: 50%; max-height:165px" class=" mx-auto m-2" src="../static/images/webAndMobile.svg">
                  <div class="font-light text-primary border-l-4 border-secondary pl-4 max-w-lg mt-4">Web applications can be as simple as a <span class=" font-bold">small business website </span> and as complex as a cloud based, cross platform, (<span class="font-bold">IOS</span> & <span class="font-bold">Android</span>) web application. We are here to help you with whatever you need on the web.</div>
                  <div class="flex mx-auto mt-auto">
                    <button class="relative flex py-2 pl-10 mt-8 pr-4 text-sm text-primary font-semibold">
                      <svg class="absolute w-6" style="left:10; top:7px" xmlns="http://www.w3.org/2000/svg" fill="none"  viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                      </svg>
                      Download Pre-App Checklist
                    </button>
                  </div>
                </div>
                <div class=" bg-off rounded relative shadow-lg p-8 flex flex-col">
                  <div class="text-2xl text-primary"> Web Design</div>
                  <img style="width: 50%; max-height:165px" class=" mx-auto m-2 mt-0" src="../static/images/webDesign.svg">
                  <div class="font-light text-primary border-l-4 border-secondary pl-4 max-w-lg mt-4" >Web design is more than making a website look pretty. A design needs to work for your business. <span class=" font-bold">We build and design accessible apps for everyone, no matter their skill level or capabilities. </span></div>
                  <div class="flex mx-auto mt-auto">
                    <button class="relative flex py-2 pl-10 mt-8 pr-4 text-sm border-primary rounded text-primary font-semibold">
                      <svg class="absolute w-6" style="left:10; top:7px" xmlns="http://www.w3.org/2000/svg" fill="none"  viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                      </svg>
                      Design Packet
                    </button>
                  </div>
                </div>                
                <div class=" bg-off rounded relative shadow-lg p-8 flex flex-col">
                  <div class="text-2xl text-primary">Content Creation</div>
                  <img style="width: 25%; max-height:165px" class=" mx-auto m-2 mt-0" src="../static/images/content.svg">
                  <div class="font-light text-primary border-l-4 border-secondary pl-4 max-w-lg mt-4"><span class="font-bold"> Content is King!</span> Writing good content is one of the most important pieces to a great app or webiste. Unfortunatley, its often overlooked.</div>
                  <div class="flex mx-auto mt-auto">
                    <button class="relative flex py-2 pl-10 mt-8 pr-4 text-sm rounded text-primary font-semibold backround-primary">
                      <svg class="absolute w-6" style="left:10; top:7px" xmlns="http://www.w3.org/2000/svg" fill="none"  viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                      </svg>
                      Content Stuff
                    </button>
                  </div>
                </div>  
                <div class=" bg-off rounded relative shadow-lg p-8 flex flex-col">
                  <div class="text-2xl text-primary">SEO</div>
                  <img style="width: 50%; max-height:165px" class=" mx-auto m-2 mt-0" src="../static/images/seo.svg">
                  <div class="font-light text-primary border-l-4 border-secondary pl-4">Search engine optimization <span class="font-bold"> (SEO) often offers the very best ROI.</span>
                    But it can be hard to pin point what SEO is. We can help tailer a plan to increase your page rank over time.
                    Any service offering quick results is just trying to take your money.
                   </div>
                    <div class="flex mx-auto mt-auto">
                    <button class="relative flex py-2 pl-10 mt-8 pr-4 text-sm  rounded text-primary font-semibold">
                      <svg class="absolute w-6" style="left:10; top:7px" xmlns="http://www.w3.org/2000/svg" fill="none"  viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                      </svg>
                      SEO stuff
                    </button>
                  </div>
                </div>  
              </div>
        </div>
      </section>
    </main>
    {% include "./components/sidebar.njk" %}
  </body>
</html>