<fieldset class="lg:mt-8">
  <legend class="text-2xl ml-0 lg:ml-8 text-primary mb-6">
    How Can We Help You?
  </legend>
  <div class="block ml-0 lg:ml-8 mb-12 lg:mb-6">
    <span class="text-gray-900 font-semibold mb-4">I want to...</span>
    <div id="goalRadioGroup" class="mt-2 flex">
      <div>
        <label class="inline-flex items-center mr-6 cursor-pointer">
          {% if hire %}
          <input
            type="radio"
            class="form-radio h-6 lg:h-4 w-6 lg:w-4 cursor-pointer text-primary"
            name="i_want_to"
            value="hire"
            checked
          />
          {% else %}
          <input
            type="radio"
            class="form-radio h-6 lg:h-4 w-6 lg:w-4 cursor-pointer text-primary"
            name="i_want_to"
            value="hire"
          />
          {% endif %}
          <span class="ml-2">Hire You For a Job</span>
        </label>
      </div>
      <div>
        <label class="inline-flex items-center cursor-pointer">
          {% if join %}
          <input
            type="radio"
            class="form-radio h-6 lg:h-4 w-6 lg:w-4 cursor-pointer text-primary"
            name="i_want_to"
            value="join"
            checked
          />
          {% else %}
          <input
            type="radio"
            class="form-radio h-6 lg:h-4 w-6 lg:w-4 cursor-pointer text-primary"
            name="i_want_to"
            value="join"
          />
          {% endif %}
          <span class="ml-2">Work With You On a Future Project</span>
        </label>
      </div>
    </div>
  </div>
  <div
    id="services"
    class="{% if hire %} inherit {% else %} hidden {% endif %}"
  >
    {% include "./contact_form_services.njk" %}
  </div>
  <div id="skills" class="{% if join %} inherit {% else %} hidden {% endif %}">
    {% include "./contact_form_skills.njk" %}
  </div>
</fieldset>
