<div id="skillsWrapper" class="block ml-0 lg:ml-8" data-skills="{{skills}}">
  <span class="text-gray-900 font-semibold">Which skills do you have?</span>
  <br />
  <span class="text-sm mb-4">(check all that apply)</span>
  <div class="mt-2" id="checkBoxWrapper" data-active="{{skills}}">
    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2 mt-6">
        <input
          type="checkbox"
          value="webDevelopment"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">Web Development</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2">
        <input
          type="checkbox"
          value="mobileDevelopment"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">Mobile Development</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2">
        <input
          type="checkbox"
          value="pageDesign"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">Page Design</span>
      </label>
    </div>

    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2">
        <input
          type="checkbox"
          value="graphicDesign"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">Graphic Design</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2">
        <input
          type="checkbox"
          value="videography"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">Videography</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2">
        <input
          type="checkbox"
          value="content"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">Content Creation and Editing</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2">
        <input
          type="checkbox"
          value="SEO"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">SEO</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2">
        <input
          type="checkbox"
          value="automation"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">Automation</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center cursor-pointer mb-6 lg:mb-2">
        <input
          type="checkbox"
          value="security"
          name="skills"
          class="w-6 lg:w-4 h-6 lg:h-4 text-primary form-checkbox cursor-pointer"
        />
        <span class="ml-2">Security</span>
      </label>
    </div>
  </div>
</div>
