<div class="flex flex-col text-center">
  <div class="mt-12 mb-12 mx-auto">
    <h1 class="mb-4 text-4xl text-primary font-semibold">Contact</h1>
    <div class="text-primary text-sm">Want to work with us or for us?</div>
    <div class="text-primary text-sm">Drop us a messages.</div>
  </div>
</div>
