{% block phone %}
    <label class="text-sm  text-gray-600 {% for error in errors %}{% if error === 'A phone is required' %} text-red-700 font-bold {% endif %}{% endfor %}" for="phone">Phone <span class=" text-xs">*</span></label>
    <input 
        name="phone"  
        class="input {% for error in errors %}{% if error === 'A phone is required' %} inputError focus:outline-none{% endif %}{% endfor %}" 
        id="phone" 
        type="text" 
        value='{{user_phone}}'/>
    {% for error in errors%}
        {% if error === "A phone is required" %}
        <span class="mt-1 mb-1 text-red-700 text-xs font-bold">{{error}}</span>
        {% endif %}
    {% endfor %} 
{% endblock %}