<section class="pg-4 lg:pt-12 lg:mt-12 bg-off">
  <div class="container mx-auto p-4">
    <div
      class="flex flex-col items-center lg:items-center lg:flex-row pt-4 mb-8 lg:mb-28"
    >
      <div class="w-auto lg:w-1/3 lg:mb-16 mr-auto">
        <h1
          style="line-height: 1"
          class="font-montserrat mt-4 md:mt-0 text-4xl lg:text-5xl md:mb-10 lg:mb-0 mb-20 text-primary font-thin"
        >
          Development<span class="text-secondary font-medium"> Agency</span>
        </h1>
        <div
          class="hidden lg:flex items-center lg:flex-row my-8 mb-10 lg:my-12 mt-12"
        >
          <button
            onclick="window.location.href='/contact?hire=true'"
            class="mr-4 mx-auto lg:mx-0 w-full lg:w-auto flex py-4 lg:py-2 px-8 mb-4 text-center lg:text-left rounded border bg-primaryBlue text-white shadow-sm"
            type="button"
          >
            <svg
              class="w-6 h-6 ml-auto lg:ml-0"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 10V3L4 14h7v7l9-11h-7z"
              ></path>
            </svg>
            <span class="ml-2 mr-auto lg:mr-0">Hire Us</span>
          </button>
          <button
            onclick="window.location.href='/contact?join=true'"
            class="mb-4 text-center w-full lg:w-auto lg:text-left text-primaryBlue hover:bg-babyBlue rounded px-8 py-2"
          >
            Join Us
          </button>
        </div>
      </div>
      {% include "../../svg/homeCTA.njk" %}
    </div>
    <div
      id="learnMore"
      class="mx-auto bg-white rounded p-8 lg:max-w-4xl lg:mt-12 shadow-lg"
    >
      <div>
        <span class="texl-xl text-secondary font-sembold">Elevator Pitch</span>
        <div class="mt-4 font-normal text-primary">{{elevatorPitch}}</div>
        <div id="shovelExtra" class="hidden mt-4 font-normal text-primary">
          <div>
            {{ elevatorPitchExpanded }} {# Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Harum ad, voluptate optio neque
            commodi labore distinctio possimus nam, dolore corrupti placeat
            maiores accusamus voluptatem, porro aliquid ex beatae perspiciatis
            omnis odio. Doloribus rem voluptate neque adipisci nesciunt dolorem
            officia id debitis saepe accusantium! Qui tenetur eaque illum
            similique sunt, ex obcaecati praesentium dolorem nostrum dolor
            eligendi, expedita, quae ducimus sequi fugit maxime vel assumenda
            recusandae nihil quidem laborum rem! Impedit, tempore maxime.
            Voluptates alias dignissimos omnis sapiente fugiat quaerat labore
            doloribus voluptas iste iusto magni quasi modi harum pariatur
            voluptatem vitae, quidem consectetur laudantium similique
            reprehenderit corporis ducimus tempora! Libero? #}
          </div>
        </div>
        <div class="flex justify-center mt-8">
          <button
            id="shovelButton"
            type="button"
            class="text-primary p-2 font-semibold flex"
          >
            {% include "../../svg/shovel.njk" %}
            <span>Dig Deeper</span>
          </button>
        </div>
      </div>
    </div>
    <div class="flex lg:hidden items-center flex-col lg:my-12 mt-12">
      <button
        onclick="window.location.href='/contact?hire=true'"
        class="mr-4 mx-auto lg:mx-0 w-full lg:w-auto flex py-4 lg:py-2 px-8 mb-4 text-center lg:text-left rounded border bg-primaryBlue text-white shadow-sm"
        type="button"
      >
        <svg
          class="w-6 h-6 ml-auto lg:ml-0"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 10V3L4 14h7v7l9-11h-7z"
          ></path>
        </svg>
        <span class="ml-2 mr-auto lg:mr-0">Hire Us</span>
      </button>
      <button
        onclick="window.location.href='/contact?join=true'"
        class="mb-4 text-center w-full lg:w-auto lg:text-left text-primaryBlue hover:bg-babyBlue rounded px-8 py-2"
      >
        Join Us
      </button>
    </div>
  </div>
</section>
