<section class="pt-12 pb-12 bg-off ">
<div class="container mx-auto p-4">
    <div class="flex flex-col items-center lg:items-center lg:flex-row pt-4">
        <div class="w-auto lg:w-1/2 mb-16">
            <h1 style="line-height: 1.2" class="font-quicksand text-4xl lg:text-6xl mb-10 lg:mb-0 text-primary">Web Development Experts </h1>
            <div class=" font-light mt-4 text-primary max-w-xl">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur rerum velit et earum quaerat, corrupti magnam, dolore ea quis sapiente facere.
            </div>
        </div>
    {% include "../../svg/homeCTA.njk" %}
    </div>
    <div class="mx-auto mt-8 bg-white rounded p-8 lg:max-w-4xl lg:mt-12 shadow-lg">
        <div>
            <span class="texl-xl text-secondary font-sembold">Elevator Pitch</span>
            <div class="mt-4 font-normal text-primary">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit molestiae optio laborum, eius fugiat esse. Odit fuga sint cum deleniti repellat, soluta voluptatum inventore! Quia voluptas et nostrum mollitia ut.
            </div>
            <div id="shovelExtra" class="hidden mt-4 font-normal text-primary" >
                <div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum ad, voluptate optio neque commodi labore distinctio possimus nam, dolore corrupti placeat maiores accusamus voluptatem, porro aliquid ex beatae perspiciatis omnis odio. Doloribus rem voluptate neque adipisci nesciunt dolorem officia id debitis saepe accusantium! Qui tenetur eaque illum similique sunt, ex obcaecati praesentium dolorem nostrum dolor eligendi, expedita, quae ducimus sequi fugit maxime vel assumenda recusandae nihil quidem laborum rem! Impedit, tempore maxime. Voluptates alias dignissimos omnis sapiente fugiat quaerat labore doloribus voluptas iste iusto magni quasi modi harum pariatur voluptatem vitae, quidem consectetur laudantium similique reprehenderit corporis ducimus tempora! Libero?
                </div>
                <br/>
                <div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum ad, voluptate optio neque commodi labore distinctio possimus nam, dolore corrupti placeat maiores accusamus voluptatem, porro aliquid ex beatae perspiciatis omnis odio. Doloribus rem voluptate neque adipisci nesciunt dolorem officia id debitis saepe accusantium! Qui tenetur eaque illum similique sunt, ex obcaecati praesentium dolorem nostrum dolor eligendi, expedita, quae ducimus sequi fugit maxime vel assumenda recusandae nihil quidem laborum rem! Impedit, tempore maxime. Voluptates alias dignissimos omnis sapiente fugiat quaerat labore doloribus voluptas iste iusto magni quasi modi harum pariatur voluptatem vitae, quidem consectetur laudantium similique reprehenderit corporis ducimus tempora! Libero?
                </div>
            </div>
            <div class="flex justify-center mt-8">
                <button id="shovelButton"type="button" class="text-primary p-2 font-semibold flex">
                    {% include "../../svg/shovel.njk" %}          
                    <span>Dig Deeper</span>
                </button>
            </div>
        </div>
    </div>
</div>
</section>