@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size:  16px;
}
.text-primary {
    color: theme('colors.primary')
}
a:hover {
    color: #FA6B15;
        /* color: #7035b6 !important; */

}
a:focus {
    /* color: #7035b6 !important; */
    color: #FA6B15;

}
.bg-off {
    background-color: theme('colors.off');
}
.logoSize {
    width: 15%
}
.bg-white {
    background: white;
}
.nav_underline {
    border-bottom: 1px solid #cbd5e0;
}
@media all and (min-width: 800px){
    .logoSize {
        width: 18%
    }
}