@tailwind base;
@tailwind components;

.input {
    @apply pt-2 pl-2 pb-2 mt-2  border-b border-primary rounded-none
}
.inputError {
    @apply text-red-700 rounded border-red-700 border-t border-r border-l border-b bg-red-600 bg-opacity-50 text-red-700 font-bold
}


@tailwind utilities;

body {
    font-size:  16px;
    background-color: theme('colors.off');
}

.text-primary {
    color: theme('colors.primary')
}
a:hover {
    color: #FA6B15;
        /* color: #7035b6 !important; */

}
a:focus {
    /* color: #7035b6 !important; */
    color: #FA6B15;

}
.bg-off {
    background-color: theme('colors.off');
}
.logoSize {
    width: 12%;
    position: relative;
    transform: scale(1.3);
}
@media all and (min-width: 640px){
    .logoSize {
        width: 15%
    }
}
.bg-white {
    background: white;
}
.nav_underline {
    border-bottom: 1px solid #cbd5e0;
}
.slide-right {
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 100;
}

.slide-left {
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.fade-in {
    animation: fade-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.fade-out {
    animation: fade-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#learnMore {
    transform: translateY(100px);
    opacity: 0
}
#webAndMobileCard {
    transform: translateX(-100px);
    opacity: 0
}
#contentCreationCard {
    transform: translateX(-100px);
    opacity: 0
}
#webDesignCard {
    transform: translateX(100px);
    opacity: 0
}
#seoCard {
    transform: translateX(100px);
    opacity: 0
}
@keyframes fade-in {
        0% {
            opacity: .5;
        }

        100% {
            opacity: 1;
        }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-right {
    0% {
        opacity: .5;
        transform: translateX(-120vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}



@keyframes slide-left {
    0% {
        opacity: 1;
        transform: translateX(0vw);
    }

    100% {
        opacity: .5;
        transform: translateX(-120vw);
    }
}



@media all and (min-width: 800px){
    .logoSize {
        width: 18%
    }
}