
{% macro blog_card(image, link, name, description, day, auth )%}

<div class="bg-white rounded-xl shadow-xl relative p-8 fade-in flex flex-col">
    <div class="flex items-center">
        <a class="flex" href={{link}}>
            <img width="24" height="24" style="height: 30px; width:24px" src="../static/images/{{image}}" />
            <h2 class=" ml-2 text-xl text-primary capitalize">{{name}}</h2>
            </div>
        </a>
    <p class=" font-light my-4">
        {{description}}
    </p>
    <div class="flex flex-col items-end mt-auto">
        <div>{{auth}}</div>
    </div>
</div>
{% endmacro %}